#
# SPDX-FileCopyrightText: 2020 George Florea Bănuș <georgefb899@gmail.com>
#
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Desktop Entry]
Name=Haruna Video Player
Exec=haruna
Icon=com.georgefb.haruna
Type=Application
Categories=Qt;KDE;AudioVideo;Player;Video;
Terminal=false
